.footer {
  display: flex;
  flex-direction: column;
  min-height: 240px;
}

.main-footer__logo {
  position: relative;
  margin-left: 97px;
}

.main-footer__logo-icon {
  margin-top: 40px;
}

.main-footer__logo::before {
  position: absolute;
  content: "";
  width: 281px;
  height: 1px;
  background-color: #d9d9d9;
  top: 35px;
  left: -80px;
}

.main-footer__logo::after {
  position: absolute;
  content: "";
  width: 281px;
  height: 1px;
  background-color: #d9d9d9;
  top: 96px;
  left: -80px;
}

.main-footer__list {
  list-style-type: none;
  margin-top: 15px;
  margin-bottom: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 62px;
}

.main-footer__item:not(:last-child) {
  margin-right: 28px;
}

.main-footer__item-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 94px;
}

.main-footer__wrapper-copyright {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  margin-bottom: 40px;
  margin-left: 20px;
}

.main-footer__wrapper-icon {
  margin-right: 20px;
  margin-bottom: 20px;
}
