.map {
  display: flex;
  flex-direction: column;
  position: relative;
}

.map__wrapper {
  display: flex;
  justify-content: space-between;
}

.map__wrapper-title {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 26px 24px 26px 20px;
}

.map__wrapper-adress {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: @gray;
  margin: 26px 20px 26px 0;
}

.map__image {
  display: block;
}

.map__icon {
  position: absolute;
  top: 251px;
  left: 134px;
}
