.advantages {
  display: flex;
  flex-direction: column;
}

.advantages__title {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 20px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-top: 45px;
    margin-bottom: 72px;
    margin-left: 31px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 70px;
    margin-bottom: 72px;
    margin-left: 110px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 204px 204px;
    row-gap: 106px;
    column-gap: 179px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 110px;
    row-gap: 0;
    column-gap: 0;
  }
}

.advantages__item {
  display: flex;
  flex-direction: row;
  position: relative;

  @media (min-width: @tablet-width) {
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    width: 246px;
    min-height: 280px;
  }
}

.advantages__item:not(:first-child) {
  @media (min-width: @desktop-width) {
    margin-left: 78px;
  }
}

.advantages__item-image {
  width: 60px;
  height: 60px;
  background-color: @green;
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    width: 80px;
    height: 80px;
    margin-left: 31px;
    margin-right: 0;
  }

  @media (min-width: @desktop-width) {
    width: 80px;
    height: 80px;
    margin-left: 0;
  }
}

.advantages__item-image-icon {
  fill: @white;
}

.advantages__item-description {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @gray;
  margin-top: 0;
  margin-bottom: 27px;
  width: 200px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-left: 31px;
    margin-top: 31px;
    width: 220px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 31px;
    width: 220px;
    margin-left: 0;
  }
}

.advantages__item-number {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 280px;
    line-height: 280px;
    color: @white-gray;
    position: absolute;
    top: -320px;
    right: -50px;
    z-index: -1;
  }

  @media (min-width: @desktop-width) {
    top: -320px;
    right: 20px;
  }
}
