.transformation {
  display: flex;
  align-items: center;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    margin-top: 370px;
    flex-direction: row;
  }
}

.transformation__slim {
  margin-top: 20px;
  width: 280px;
  min-height: 266px;
  background-color: @white-gray;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    width: 708px;
    min-height: 372px;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    min-height: 374px;
    margin-left: 110px;
    margin-right: 80px;
    margin-top: 0;
  }
}

.transformation__slim-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.transformation__slim-wrapper-add {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: @green;
  margin-left: 22px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    width: 200px;
    height: 200px;
    order: 2;
    position: absolute;
    top: 92px;
    left: 446px;
    margin-left: 0;
  }

  @media (min-width: @desktop-width) {
    width: 100px;
    height: 100px;
    order: 2;
    position: absolute;
    top: 47px;
    left: 52px;
    margin-left: 0;
  }
}

.transformation__slim-title {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin-top: 30px;
  margin-left: 19px;
  margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    order: 1;
    margin-top: 77px;
    margin-left: 53px;
    margin-bottom: 24px;
  }

  @media (min-width: @desktop-width) {
    order: 1;
    margin-top: 77px;
    margin-left: 214px;
    margin-bottom: 24px;
  }
}

.transformation__slim-description {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @gray;
  margin-top: 0;
  margin-left: 20px;
  margin-bottom: 42px;
  text-align: left;
  width: 227px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-top: 0;
    margin-left: 53px;
    margin-bottom: 52px;
    width: 340px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 50px;
    margin-left: 53px;
    margin-bottom: 30px;
    width: 457px;
  }
}

.transformation__slim-wrapper-icon {
  @media (min-width: @tablet-width) {
    width: 140px;
    height: 194px;
  }

  @media (min-width: @desktop-width) {
    width: 70px;
    height: 97px;
  }
}

.transformation__slim-catalog {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  margin-top: 0;
  margin-left: 20px;
  margin-bottom: 22px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  color: @black;

  &&:hover {
    opacity: 0.8;
  }

  &&:active {
    opacity: 0.6;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-top: 0;
    margin-left: 52px;
    margin-bottom: 57px;
  }


  @media (min-width: @desktop-width) {
    margin-top: 0;
    margin-left: 52px;
    margin-bottom: 57px;
  }
}

.transformation__slim-catalog-icon {
  margin-left: 15px;

  @media (min-width: @desktop-width) {
    margin-left: 20px;
    margin-bottom: 5px;
  }
}

.transformation__slim-catalog:before {
  position: absolute;
  content: "";
  width: 240px;
  height: 1px;
  background-color: #d9d9d9;
  top: -19px;
  left: 0;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.transformation__muscle {
  margin-top: 20px;
  width: 280px;
  min-height: 266px;
  background-color: @white-gray;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    width: 708px;
    min-height: 372px;
    margin-top: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
    width: 708px;
    width: 570px;
    min-height: 374px;
  }
}

.transformation__muscle-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.transformation__muscle-wrapper-add {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: @green;
  margin-left: 22px;

  @media (min-width: @tablet-width) {
    width: 200px;
    height: 200px;
    order: 2;
    position: absolute;
    top: 92px;
    left: 446px;
    margin-left: 0;
  }

  @media (min-width: @desktop-width) {
    width: 100px;
    height: 100px;
    order: 2;
    position: absolute;
    top: 47px;
    left: 52px;
    margin-left: 0;
  }
}

.transformation__muscle-wrapper-icon {
  margin-top: 10px;
  margin-right: 10px;

  @media (min-width: @tablet-width) {
    width: 268px;
    height: 112px;
    margin-top: 20px;
    margin-left: -20px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 20px;
    margin-left: -20px;
    width: 134px;
    height: 56px;
  }
}

.transformation__muscle-title {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin-top: 30px;
  margin-left: 19px;
  margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    order: 1;
    margin-top: 77px;
    margin-left: 53px;
    margin-bottom: 24px;
  }

  @media (min-width: @desktop-width) {
    order: 1;
    margin-top: 77px;
    margin-left: 214px;
    margin-bottom: 24px;
  }
}

.transformation__muscle-description {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @gray;
  margin-top: 0;
  margin-left: 20px;
  margin-bottom: 42px;
  text-align: left;
  width: 227px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-top: 0;
    margin-left: 53px;
    margin-bottom: 52px;
    width: 340px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 50px;
    margin-left: 53px;
    margin-bottom: 30px;
    width: 451px;
  }
}

.transformation__muscle-catalog-icon {
  margin-left: 15px;

  @media (min-width: @desktop-width) {
    margin-left: 20px;
    margin-bottom: 5px;
  }
}

.transformation__muscle-catalog {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  margin-top: 0;
  margin-left: 20px;
  margin-bottom: 22px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  color: @black;

  &&:hover {
    opacity: 0.8;
  }

  &&:active {
    opacity: 0.6;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-top: 0;
    margin-left: 52px;
    margin-bottom: 57px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
    margin-left: 52px;
    margin-bottom: 57px;
  }
}

.transformation__muscle-catalog:before {
  position: absolute;
  content: "";
  width: 240px;
  height: 1px;
  background-color: #d9d9d9;
  top: -19px;
  left: 0;


  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}
